:root {
  --primary-color: #248121;
  --gray-dark: #285034;
  --gray-light: #888888;
  --white: white;
  --black: black;
  --bg-block: #fff9f8;
  --primary-font: "Roboto";
  --secondary-font: "Rufina";
  --wrapper: 192rem;
  --container: 117rem;
}


*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-weight: 300;
  color: var(--gray-dark);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.wrapper {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: var(--container);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  /* height: 70px; */
}

.menu {
  flex: 2;
  display: flex;
  flex-direction: row;

}

.menu>li {
  padding: 0 12px;
  position: relative;
}

.menu>li:hover .sub-menu {
  visibility: visible;
  top: 30px;
}

.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  visibility: hidden;
  top: 50px;
  transition: 0.3s;
}

.sub-menu ul {
  padding-left: 20px;
}

.sub-menu li ul a {
  font-weight: normal;
  font-size: 12px !important;
}

.menu li a {
  font-size: 12px;
  color: #000;
  font-weight: bold !important;
  display: block;
  line-height: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 33.33%;
}

/**
Begin header
*/
.header-top {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  box-shadow: 0px 1px #888888;
}

.menu {
  flex-grow: 1;
}

.search-box {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
  width: 33.33%;
}

.search-box i {
  font-size: 22px;
}


.menu-wrap {
  display: flex;
  align-items: center;
  width: 33.33%;
}

.header-top .menu li a {
  font-size: 20px;
}

.header-bottom {
  background-image: url('../images/s-1_2048x.jpg');
  min-height: 80vh;
}

.header__images {
  z-index: 11;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 35.5%;
}

.header__content {
  padding-top: 19rem;
  position: relative;
  max-width: 55.5rem;
  margin-left: 10rem;
  z-index: 2;
}

.header__content-slogan {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-bottom: 3rem;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: medium;
}

.header__content-title {
  font-size: 6rem;
  color: var(--gray-dark);
  font-family: var(--secondary-font);
  font-weight: bold;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.header__content-desc {
  font-size: medium;
  color: var(--gray-dark);
  margin-bottom: auto;
}

.header__content-cta {
  display: flex;
  align-items: center;
}

.header__content-cta>a:first-child {
  margin-right: 5rem;
}

#category-page-filters {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 18px;
  

}

.product_filter{
  text-align: center;
  color: #094d07;
  font-size: 26px;
  
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header_product{
  text-align: center;
  color: #094d07;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5rem;
}

.product {
  margin: 10px;
  text-align: center;
  width: 20%;
  
}

.product img {
  width: 250px;
  height: 250px;
  margin-right: 15px;
  margin-left: 15px;
  transition: transform 0.3s ease-in-out;
}

.product img:hover {
  transform: scale(1.1); /* Nổi lên 10% */
}

.product h2 {
  font-size: 1.5rem;
}

.product p{
  font-size: 1.3rem;
}

.footer {
  background-color: #151515;
  padding: 80px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
  font-size: 26px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #FFF;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  /* background-color: #E91E63; */
  width: 50px;
  height: 2px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #DDD;
  display: block;
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #FFF;
  padding-left: 7px;
}

.footer-col .social-links a {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #FFF;
}